<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GAMF_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Főoldal</a></li>
                <li><a asp-area="" asp-controller="Students" asp-action="Index">Hallgatók</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Tantárgyak</a></li>
                <li><a asp-area="" asp-controller="Report" asp-action="EnrollmentDateReport">Első jelentkezések</a></li>
                <li><a asp-area="" asp-controller="Report" asp-action="CreditReport">Hallgató credit</a></li>
                <li><a asp-area="" asp-controller="Enrollments" asp-action="Index">Jelentkezések</a></li>
                <li><a asp-area="" asp-controller="Enrollments" asp-action="Index2">Jelentkezések Datatables</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - GAMF</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
